.chapter_placeholder {
  rect {
    fill: rgba(0, 0, 0, 0.5);
  }

  text  {
    pointer-events: none;
    font-family: 'entypo';
    font-size: 20px;
    fill: #000;
    text-anchor: middle;
    dominant-baseline: central;
  }
}