.chapter {
  .handle {
    fill: #ddd;
  }

  .border {
    fill: none;
    stroke: none;
  }

  .title_text {
    color: #000;
    font: $font;
    font-size: 12px;
    font-weight: bold;
    pointer-events: none;
    padding-top: 3px;
    padding-left: 5px;
  }

  &.destroying {
    opacity: 0.5;
  }
}

&.editor_mode .chapter {
  &.dragged,
  &.hover {
    .handle {
      fill: $highlight-color;
    }

    .border {
      fill: #f9f9f9;
    }
  }

  &.selected {
    .handle {
      fill: #5AA5F9;
    }

    .border {
      fill: #D2E5FA;
    }

    .title_text {
      color: #fff;
    }
  }

  &.empty {
    .add_page {
      visibility: visible;
    }
  }
}