.follow_link {
  pointer-events: bounding-box;

  path {
    fill: none;
    stroke: $follow-link-color;
    stroke-width: $stroke-width;
    stroke: none;
  }

  &:hover .add_page {
    visibility: visible;
  }
}

#follow_triangle {
  fill: $follow-link-color;
}