.page {
  .bg {
    cursor: pointer;
    fill: #fff;
    stroke: $stroke-color;
    stroke-width: $stroke-width;
    font: $font;
  }

  .title {
    fill: #fff;
    pointer-events: none;
  }

  &.selected,
  &.highlighted {
    .title {
      fill: $selection-color;
    }
  }

  .title_text {
    color: #000;
    font: $font;
    text-align: center;
    pointer-events: none;
  }

  image {
    pointer-events: none;
  }
}

&.editor_mode .page {
  &.hover .bg {
    @include highlight;
  }
}

&.selection_mode .page {
  &.hover .bg {
    stroke: $selection-color;
    stroke-width: 2px;
  }

  &.highlighted {
    pointer-events: none;
  }
}