.page_link {
  .arrow {
    stroke: $page-link-color;
    marker-end: url(#page_link_triangle);
  }

  &.placeholder {
    .drag_target {
      transform: translateX(-5px);
    }
  }
}

&.editor_mode .page_link {
  &.dragged,
  &.highlight {
    .arrow {
      marker-end: url(#page_link_triangle_highlight);
    }
  }
}

#page_link_triangle {
  fill: $page-link-color;
}

#page_link_triangle_highlight {
  fill: $highlight-color;
}
