.page {
  .bg {
    cursor: pointer;
    fill: #444;
    stroke: #444;
    stroke-width: $stroke-width;
    font: $font;
  }

  .border {
    fill: transparent;
    strole: none;
    pointer-events: none;
    stroke-width: 4px;
  }

  .title {
    fill: #000;
    opacity: 0.5;
    pointer-events: none;
  }

  .start_page_indicator {
    display: none;
  }

  &.start_page .start_page_indicator {
    display: block;
  }

  &.highlighted .border {
    stroke: #5AA5F9;
  }

  &.disabled,
  &.destroying {
    opacity: 0.5;
  }

  .title_text {
    color: #fff;
    font: 13px sans-serif;
    font-weight: bold;
    pointer-events: none;
    padding: 15px 5px;
  }

  image {
    pointer-events: none;
  }
}

&.editor_mode .page {
  &.hover .border {
    stroke: $highlight-color;
  }

  &.selected {
    .border {
      stroke: #5AA5F9;
    }

    .bg {
      cursor: move;
    }
  }
}

&.selection_mode .page {
  &.hover .border {
    stroke: $selection-color;
  }

  &.highlighted,
  &.disabled {
    pointer-events: none;
  }
}