.selectable_link {
  .arrow {
    fill: none;
    stroke-width: $stroke-width;
    pointer-events: none;
  }

  &.placeholder {
    .arrow {
      display: none;
    }
  }

  .selection_highlight {
    fill: none;
    stroke: transparent;
    stroke-width: 4px;
    pointer-events: none;
  }

  .selection_target {
    fill: none;
    stroke: transparent;
    stroke-width: 10px;
    pointer-events: stroke;
  }

  .drag_target {
    fill: none;
    cursor: move;
    pointer-events: all;
  }

  &.placeholder {
    .drag_target {
      fill: rgba(0, 0, 0, 0.4);
    }
  }

  .text_label {
    opacity: 0;
    @include transition(opacity 0.3s ease);
  }

  &.highlight {
    .text_label {
      opacity: 1;
    }
  }
}

&.editor_mode .selectable_link {
  &.dragged {
    .arrow {
      display: block;
    }
  }

  &.dragged,
  &.highlight {
    .arrow {
      stroke: $highlight-color;
      stroke-width: 2px;
    }
  }

  &.dragged {
    .drag_target {
      fill: none;
    }
  }

  &.selected .selection_highlight {
    stroke: $selection-color;
  }

  &.dragged .selection_highlight {
    stroke: transparent;
  }
}

&.selection_mode .selectable_link {
  .drag_target {
    display: none;
  }
}
