.start_page_indicator {
  pointer-events: none;

  text  {
    pointer-events: none;
    font-family: 'entypo';
    font-size: 20px;
    fill: #fff;
    text-anchor: middle;
    dominant-baseline: central;
  }

  rect {
    fill: rgba(0,0,0,0.6);
    stroke: #444;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
}