.storyline {
  .handle {
    fill: #ccc;
    cursor: pointer;
  }

  .border {
    fill: #ddd;
  }
}

&.editor_mode .storyline {
  &.hover {
    .handle {
      fill: $highlight-color;
    }
  }
}

&.editor_mode .storyline {
  &.selected {
    > .handle {
      fill: #5AA5F9;
      cursor: move;

      .title_text {
        color: #fff;
      }
    }

    > .border {
      fill: #D2E5FA;
    }
  }
}