.storyline {
  .handle {
    fill: #ccc;
    cursor: pointer;
  }

  text {
    fill: #444;
    font: $font;
    font-size: 12px;
    font-weight: bold;
    pointer-events: none;
    padding-top: 3px;
    padding-left: 5px;
  }

  .border {
    fill: #ddd;
  }
}

&.editor_mode .storyline {
  &.hover {
    .handle {
      fill: $highlight-color;
    }
  }
}

&.editor_mode .storyline {
  &.selected {
    > .handle {
      fill: #5AA5F9;
      cursor: move;
    }

    > text {
      fill: #fff;
    }

    > .border {
      fill: #D2E5FA;
    }
  }
}