.successor_link {
  .arrow {
    stroke: $successor-link-color;
    marker-end: url(#successor_link_triangle);
  }

  &.placeholder {
    .drag_target {
      transform: translateY(-5px);
    }
  }
}

&.editor_mode .successor_link {
  &.dragged,
  &.highlight {
    .arrow {
      marker-end: url(#successor_link_triangle_highlight);
    }
  }

  &.placeholder {
    pointer-events: bounding-box;
  }

  &.placeholder:hover .add_page {
    visibility: visible;
  }

  &.dragged:hover .add_page {
    visibility: hidden;
    transition: none;
  }
}

#successor_link_triangle {
  fill: $successor-link-color;
}

#successor_link_triangle_highlight {
  fill: $highlight-color;
}
