.toolbar {
  position: absolute;
  right: 100px;
  top: 5px;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  .scale_slider {
    width: 300px;
  }

  .scale_minus,
  .scale_plus {
    @include background-icon-center($font-size: 16px);
    width: 40px;
    height: 25px;
  }

  .scale_minus {
    @include fa-search-minus-icon;
  }

  .scale_plus {
    @include fa-search-plus-icon;
  }

  .items a {
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 15px 5px 30px;
    border-right: solid 1px #aaa;
  }

  a.select_start_page {
    @include background-icon-left($font-size: 16px);
    @include logout-icon;
  }
}