.sitemap_tooltip {
  $background-color: rgba(0, 0, 0, 0.7);

  position: absolute;
  z-index: 10001;
  top: 40px;
  left: 400px;
  padding: 10px 15px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  pointer-events: none;
  border-radius: 5px;
  background-color: $background-color;

  opacity: 0;
  @include transition(opacity 0.15s ease);

  &.visible {
    opacity: 1;
  }

  &:after {
    content: '';
    border-top: solid 10px transparent;
    border-right: solid 10px $background-color;
    border-bottom: solid 10px transparent;
    border-left: solid 10px transparent;
    position: absolute;
    top: 7px;
    left: -20px;
  }
}