$highlight-color: orange;
$stroke-color: #3182bd;
$stroke-width: 1.5px;
$font: 10px sans-serif;
$selection-color: red;

$follow-link-color: #bbb;
$successor-link-color: #bbb;
$page-link-color: #9ecae1;

@mixin highlight() {
  stroke: $highlight-color;
  stroke-width: 2px;
}

.sitemap {
  @import "./editor/selection_rect";
  @import "./editor/chapters";
  @import "./editor/pages";
  @import "./editor/add_page_button";
  @import "./editor/start_page_indicator";
  @import "./editor/selectable_links";
  @import "./editor/page_links";
  @import "./editor/successor_links";
  @import "./editor/follow_links";
  @import "./editor/scroll_bar";
  @import "./editor/toolbar";
  @import "./editor/text_label";

  @include user-select(none);
  background-color: #fff;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;

  h2 {
    font-size: 13px;
    font-weight: normal;
    margin: 10px;
  }

  div.svgcontainer {
    cursor: default;
    border: solid 1px #ddd;

    z-index: 10000;
    position: absolute;
    top: 35px;
    right: 15px;
    left: 1px;
    bottom: 15px;
  }

  marker {
    stroke: inherit;
    fill: inherit;
  }

  .scroll_bar_x {
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 17px;
    height: 13px;
  }

  .scroll_bar_y {
    position: absolute;
    right: 1px;
    top: 37px;
    bottom: 15px;
    width: 13px;
  }

  .button {
    display: block;
    position: absolute;
    z-index: 100000;
    font-size: 13px;
    cursor: pointer;
  }

  .close {
    height: 25px;
    width: 80px;
    top: 10px;
    right: 10px;
  }
}
