$highlight-color: orange;
$stroke-color: #3182bd;
$stroke-width: 1.5px;
$font: 10px sans-serif;
$selection-color: red;

@mixin highlight() {
  stroke: $highlight-color;
  stroke-width: 2px;
}

div.svgcontainer {
  @import "./editor/page_links";

  cursor: default;

  background: white;
  border: solid 1px #ddd;

  z-index: 10000;
  position: absolute;
  top: 35px;
  right: 15px;
  left: 1px;
  bottom: 15px;

  .group-handle {
    fill: #f9f9f9;
  }

  .group-highlight {
    fill: none;
  }

  .group-dummy {
    fill: none;
    pointer-events: none;

    &.active {
      fill: red;
    }
  }

  .hover {
    .group-handle {
      fill: $highlight-color;
      @include highlight;
    }

    .group-highlight {
      fill: #f9f9f9;
      @include highlight;
    }
  }

  .selected {
    .group-handle {
      fill: $selection-color;
    }
  }

  .page {
    cursor: pointer;
    fill: #fff;
    stroke: $stroke-color;
    stroke-width: $stroke-width;
    font: $font;
  }

  .page_title {
    fill: #fff;
  }

  .pageview.selected {
    .page_title {
      fill: $selection-color;
    }
  }

  image {
    pointer-events: none;
  }

  text {
    font: $font;
    pointer-events: none;
    text-anchor: middle;
    alignment-baseline: central;
  }

  .pagetext {
    font: $font;
    text-align: center;
    pointer-events: none;
  }

  .small {
    .pagetext {
      font: 8px sans-serif;
    }
  }

  .xsmall {
    .pagetext {
      font: 5px sans-serif;
    }
  }

  .drag-dummy {
    display: none;

    stroke-dasharray: 5,5;
    opacity: .5;
    fill:  rgb(176, 196, 222);

    &.active  {
      display: inline;
    }

    rect {
      pointer-events: none;
    }
  }

  .ghost {
    opacity: .5;
  }

  .highlight .page {
    @include highlight;
  }

  .area {
    fill: rgba(255,255,255,0);
    stroke-width: $stroke-width;
    pointer-events: none;
  }

  .dragging .area {
    pointer-events: all;
  }

  .placeholder {
    fill: white;
    stroke: $stroke-color;
    stroke-width: 0.5px;
    stroke-dasharray: 5,5;

    &.drag {
      fill: #efefef;
      stroke: $stroke-color;
      stroke-width: 1px;
    }

    &.hover {
      fill: #efefef;
      stroke: red;
      stroke-width: 1px;
    }
  }

  path.follow {
    fill: none;
    stroke: red;
    stroke-width: $stroke-width;
    marker-end: url(#follow_triangle)
  }

  #follow_triangle {
    fill: red;
  }

  path.successor {
    fill: none;
    stroke: red;
    stroke-width: $stroke-width;
  }

  path.highlight {
    stroke: $highlight-color;
    stroke-width: 2px;
  }

  path.invisible {
    fill: none;
    stroke: none;
    stroke-width: 0;
  }

  marker {
    stroke: inherit;
    fill: inherit;
  }

  .node {
    .menu-item {
      fill: none;
      stroke: none;
    }

    .knob, .successor-knob {
      stroke: #ffffff;
      fill: rgba(255,255,255, 0.5);
    }

    .knob {
      stroke: #98fb98;
      pointer-events: all;
    }

    .knob.exceeded {
      stroke: #ffffff;
      pointer-events: none;
    }

    &.show-menu {
      .knob, .successor-knob, .menu-item {
        cursor: pointer;
        fill: #fff;
        stroke: $stroke-color;
        stroke-width: $stroke-width;
      }

      .knob.exceeded {
        stroke: red;
      }
    }
  }

  .knob-dummy, .menu-item-dummy {
    display: none;

    stroke-dasharray: 5,5;
    opacity: .5;
    fill:  rgb(176, 196, 222);

    pointer-events: none;

    &.active  {
      display: inline;
    }
  }

  rect.selection {
    fill: none;
    stroke: #aaa;
    stroke-width: 2px;
    shape-rendering: crispEdges;
    cursor: default;
    vector-effect: non-scaling-stroke;
  }
}

div.button {
  display: block;
  position: absolute;
  z-index: 100000;
  font-size: 13px;
  cursor: pointer;

  &.close {
    height: 25px;
    width: 80px;
    top: 10px;
    right: 10px;
  }
}

.sitemap {
  @include user-select(none);
  background-color: #fff;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;

  .scroll_bar_x {
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 17px;
    height: 13px;
  }

  .scroll_bar_y {
    position: absolute;
    right: 1px;
    top: 37px;
    bottom: 15px;
    width: 13px;
  }

  .toolbar {
    position: absolute;
    right: 100px;
    top: 10px;

    > * {
      display: inline-block;
    }
  }

  .scale_slider {
    width: 300px;
  }

  .scale_minus,
  .scale_plus {
    @include background-icon-center($font-size: 16px);
    width: 40px;
    height: 16px;
  }

  .scale_minus {
    @include fa-search-minus-icon;
  }

  .scale_plus {
    @include fa-search-plus-icon;
  }

  @import "./editor/scroll_bar";
}
