$highlight-color: orange;
$stroke-color: #3182bd;
$stroke-width: 1.5px;
$font: 10px sans-serif;

@mixin highlight() {
  stroke: $highlight-color;
  stroke-width: 2px;
}

.group-handle {
  fill: #f9f9f9;
}

.group-highlight {
  fill: none;
}

.group-dummy {
  fill: none;
  pointer-events: none;

  &.active {
    fill: red;
  }
}

.hover {
  .group-handle {
    fill: $highlight-color;
    @include highlight;
  }

  .group-highlight {
    fill: #f9f9f9;
    @include highlight;
  }
}

.page {
  cursor: pointer;
  fill: #fff;
  stroke: $stroke-color;
  stroke-width: $stroke-width;
}

.pagetext {
  font: $font;
  text-align: center;
}


image {
  pointer-events: none;
}

text {
  font: $font;
  pointer-events: none;
  text-anchor: middle;
  alignment-baseline: central;
}

.drag-dummy {
  display: none;

  stroke-dasharray: 5,5;
  opacity: .5;
  fill:  rgb(176, 196, 222);

  &.active  {
    display: inline;
  }

  rect {
    pointer-events: none;
  }
}

.ghost {
  opacity: .5;
}

.highlight .page {
  @include highlight;
}

.area {
  fill: rgba(255,255,255,0);
  stroke-width: $stroke-width;
  pointer-events: none;
}

.dragging .area {
  pointer-events: all;
}

.placeholder {
  fill: white;
  stroke: $stroke-color;
  stroke-width: 0.5px;
  stroke-dasharray: 5,5;

  &.drag {
    fill: #efefef;
    stroke: $stroke-color;
    stroke-width: 1px;
  }

  &.hover {
    fill: #efefef;
    stroke: red;
    stroke-width: 1px;
  }
}



path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: $stroke-width;
}

path.follow {
  fill: none;
  stroke: red;
  stroke-width: $stroke-width;
}

path.successor {
  fill: none;
  stroke: red;
  stroke-width: $stroke-width;
}

path.highlight {
  stroke: $highlight-color;
  stroke-width: 2px;
}

path.invisible {
  fill: none;
  stroke: none;
  stroke-width: 0;
}

marker {
  stroke: inherit;
  fill: inherit;
}

.node {
  .menu-item {
    fill: none;
    stroke: none;
  }

  .knob, .successor-knob {
    stroke: #ffffff;
    fill: rgba(255,255,255, 0.5);
  }

  .knob {
    stroke: #98fb98;
    pointer-events: all;
  }

  .knob.exceeded {
    stroke: #ffffff;
    pointer-events: none;
  }

  &.show-menu {
    .knob, .successor-knob, .menu-item {
      cursor: pointer;
      fill: #fff;
      stroke: $stroke-color;
      stroke-width: $stroke-width;
    }

    .knob.exceeded {
      stroke: red;
    }
  }
}

.knob-dummy, .menu-item-dummy {
  display: none;

  stroke-dasharray: 5,5;
  opacity: .5;
  fill:  rgb(176, 196, 222);

  pointer-events: none;

  &.active  {
    display: inline;
  }
}

div.button {
  display: block;
  border: 2px solid black;
  position: absolute;
  z-index: 100000;

  &.close {
    height: 25px;
    width: 80px;
    top: 0;
    right: 0;
  }
}

div.svgcontainer {
  z-index: 10000;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
